.jumbotron {
    background-color: #fffc31 ;
    color: #0A2463;
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
}

.card-init {
    margin-top: 10px;
}

.btn-primary {
    background-color: #0a2463;
    color: #fffc31;
    width: 100%;
}

.btn-outline-primary {
    background-color: #fffc31;
    color: #0a2463;
}

.card-news {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-pie {
width: 100%;
}

.footer {
    padding: 10px 10px 10px 10px;
    background-color: #1ac8ed;
    margin-bottom: 0px;
    margin-top: 10px;
}

/* .align-items {
    padding: 10px 13px 10px 13px;
} */
